div.ezregex{
    border: 1px solid gray;
    display: flex;
    justifyContent: space-between;
    width: fit-content;
}

div.default-drop-ezregex{
    width: 40px;
}

div.drop-ezregex-side{
    width: min-content;
}
div.drop-ezregex{
    border: 5px ridge lightgray;
    width: max(fit-content, 50px);
    height: max(fit-content, 50px);
}
div.svgs{
    border: 1px solid gray;
    display: flex;
    justifyContent: space-between;
    width: fit-content;
}
