div.ezregex{
    display: flex;
    justify-content: space-between;
    /* width: fit-content; */
    /* width: fit-content; */
    /* width: calc(100% + 40%); */
    /* width: 150%; */
    width: fit-content;
    /* display: block; */
    /* overflow-x: auto; */
    /*max-width: fit-content; */
}

/* Make all the stuff inside it have a margin, but not the container itself */
div.ezregex-inner > * {
    margin: 3%;
}

div.ezregex-inner{
    /* border: 1px solid gray; */
    display: flex;
    align-items: center; /* Centers items vertically */
    justify-content: center; /* Centers items horizontally */
    height: 50px;
    background-color: #24A18E;
    /* width: 40%; */
    /* width: fit-content; */
    /* width: calc(100% + 40%); */
    /* max-width: fit-content; */
    white-space: nowrap;
    margin: 0;
}

div.default-drop-ezregex{
    width: 30px;
    height: 30px;
    /* width: max(fit-content, 100px); */
    /* height: max(fit-content, 100px); */
}

div.drop-ezregex-side{
    width: min-content;
}
div.drop-ezregex{
    border: 5px ridge lightgray;
    width: max(fit-content, 50px);
    height: max(fit-content, 50px);
}
div.svgs{
    border: 1px solid gray;
    display: flex;
    justify-content: space-between;
    width: fit-content;
}
img.side{
    height: 50px;
}

input[type=number]{
    border-radius: 20px;
    width: min-content;
    height: min-content;
    font-size: large;
    /* margin-left: 10%; */
    /* margin: 5% */
    /* padding-l */
    /* padding: 10% */

}

body{
    background-color: #202020;
}
