/* Theme blue: #0ED7BA */
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Styles for wider screens */
@media screen and (min-width: 1000px) {
    /* .App{
        align-items: top;
    display: flex;
}

.items-center {
    align-items: center;
}
    */
}

/* Makes just the outside of the blockly workspace rounded */
.injectionDiv {
    border-radius: 8px;
}

.monaco-editor {
    padding: 10px;
    border-radius: 8px;
    /* margin: 10px; */
    /* margin-top: 10px; */
    /* margin-bottom: 10px; */
}

/* Responsive container */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

/* Buttons and form elements */
button, textarea, select, input {
    font-family: inherit;
    font-size: 1rem;
    box-shadow: none;
    text-shadow: none;
    border: none;
}

/* Accessibility */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

/* button:active {
    filter: brightness(80%);
    color: #0ED7BA;
} */

/* textarea{
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
} */

/* This is actually necissary */
#blocklyDiv {
    /* flex-basis: 100%; */
    height: 400px;
    min-width: 250px;
}

/* #patternInput, #regexOutput, #textInput, #replacementInput {
    width: 100%;
} */

/* #textInput {
    margin-top: 20px;
    margin-bottom: 20px;
} */


/* #is-error {
    height: 0;
    width: 0;
    visibility: hidden; */
/* } */

#js2py, #py2js {
    height: 0;
    width: 0;
    visibility: hidden;
}

summary {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #9C9D9F;
}

summary:hover {
    color: aqua;
}

details {
    border: 1px solid #3D4044;
    border-radius: 8px;
}

/* .group {
    padding: 5px;
    margin-left: 30px;
    width: min-content;
}

.group-contents {
    margin-left: 30px;
    em {
        color: #9C9D9F;
    }
} */

details[open]>summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: 0.5em;
    color: #fff;
}

/*
hr {
    margin-top: 20px;
    margin-bottom: 20px;
} */
